# UQ SMP Programming Bootcamp (Python) V1

## Day 1 activities: variables and basics

There are 6 tasks for this day. Ideally have each task solved in a different Python file running in Spyder. Ideally have these files in your GitHub repo by the end of the day as well (only work on getting git going once tasks and key points are complete).

The following cells are to be typed line by line into the prompt:

In [1]:
a = 24

In [2]:
a # when you do this Jupyter presents the variable value

24

In [3]:
A # "A" and "a" are different things

NameError: name 'A' is not defined

In [4]:
b = 6 # another variable

In [5]:
a + b # operations between variables

30

In [6]:
a - b # subtraction

18

In [7]:
a*b # multiplication

144

In [8]:
a/b # division

4.0

In [9]:
c = a + b # = means assignment (put RHS in LHS)
c

30

In [10]:
a = "hello" #Variables don't have to be numbers. This is a string
a

'hello'

In [11]:
a = "dog"
b = "cat"
c = a + b # we can add strings together (concatenation)
c

'dogcat'

In [12]:
a = "dog"
b = 3
c = a + b # but you'll get an error adding a number and a string
c

TypeError: can only concatenate str (not "int") to str

In [13]:
"3" + 5 # it still will not work even if the string contains a number

TypeError: can only concatenate str (not "int") to str

In [14]:
"3" + "5" #adding two strings that are numbers will work differently to adding two integers together

'35'

In [15]:
a = "3"
type(a) #A is a string (str)

str

In [16]:
b = 5
type(b) #B is an integer value (int)

int

In [17]:
c = int(a) # we can convert a string into an integer
type(c)

int

In [18]:
int("hello!") # it needs to make sense as an integer for this conversion to work

ValueError: invalid literal for int() with base 10: 'hello!'

In [19]:
int(a) + b # once we have converted the string to an integer, we can now add it to the integer b

8

In [20]:
dogs = 15 # an attempt to concatenate strings and integers, which we know wont work
"there are " + dogs + " dogs at the dog park."

TypeError: can only concatenate str (not "int") to str

In [21]:
dogs = 15 # we can convert the integer to a string before concatenating it, which will work
"there are " + str(dogs) + " dogs at the dog park."

'there are 15 dogs at the dog park.'

The following are done in a file, instead of the prompt.

In [22]:
dogs = 5 # we can make programs that include multiple lines of code
dogs # but the output will not automatically be displayed

5

In [23]:
dogs = 5
print(dogs) # we can use the print function to display text

5

In [24]:
dogs = 5
print("There are " + dogs + " dogs.") # how do we print an integer along with strings?

TypeError: can only concatenate str (not "int") to str

In [25]:
dogs = 5
print("There are " + str(dogs) + " dogs.") # we need to convert the integer to a string first, before concatenation

There are 5 dogs.

In [27]:
# the input function can take input from the user's keyboard. They just need to type and the press enter. 
a = input("Enter something: ")
print(a)

Enter something: 6
6

In [28]:
a = input("Enter something: ") 
print(type(a)) # the variable type given by the input function is a string, no matter the input from the user.

Enter something: 7
<class 'str'>

In [29]:
dogs = input("Enter the number of dogs: ") # we can use input statements to make our programs more dynamic
cats = input("Enter the number of cats: ")
total = dogs + cats
print("There are " + total + " animals.") # why doesn't this work?

Enter the number of dogs: 8
Enter the number of cats: 7
There are 87 animals.

In [30]:
dogs = input("Enter the number of dogs: ") 
cats = input("Enter the number of cats: ")
total = int(dogs) + int(cats) # we need to convert strings to integers before using them in calculations
print("There are " + str(total) + " animals.") # we need to convert them back again to a string to display them

Enter the number of dogs: 6
Enter the number of cats: 7
There are 13 animals.

In [31]:
dogs = input("Enter the number of dogs: ") 
cats = input("Enter the number of cats: ")
total = int(dogs) + int(cats)
print("There are", total, "animals.") # using commas in print function will automatically convert to string and add spaces

Enter the number of dogs: 6
Enter the number of cats: 7
There are 13 animals.

In [32]:
age = 49
print(f"My age is {age}")

'My age is 49'

In [34]:
a, b = 10, -2 #assignment in one line
print(f"The sum of {a} and {b} is {a+b}")

The sum of 10 and -2 is 8

In [35]:
# functions are another type of object in python, and we can make our own
def my_function():
    print("Hello there!")
    answer = 1 + 1
    print("I like maths! 1 + 1 is " + str(answer))

In [36]:
my_function() # when i 'call' the function, it will execute those instructions (done in the prompt)

Hello there!
I like maths! 1 + 1 is 2

In [37]:
my_function()
my_function()
my_function() # as many times as I like

Hello there!
I like maths! 1 + 1 is 2
Hello there!
I like maths! 1 + 1 is 2
Hello there!
I like maths! 1 + 1 is 2

A little program. Let's put it in a function, we'll dive into functions later:

In [38]:
def my_little_program(): #functions are defined with def
    x_str = input("Give me a number:")
    x = int(x_str)
    y_str = input("Give me another number:")
    y = int(y_str)
    result = x + y
    print("The sum of", x, "and", y, "is", result)

In [39]:
my_little_program()

Give me a number:6
Give me another number:7
The sum of 6 and 7 is 13

#### Task 1.1: Run `my_little_program`. Do this both in Jupyter and Spyder. Save the code for every task in a different file named `Task1_1.py`, `Task1_2.py`, etc.

#### Task 1.2: Modify the program so that it outputs not only the sum, but also the difference(s), products, and (ratios). Try to format your output as nicely as possible.

In [40]:
x = 100
y = 20
z = y/x # not all numbers are integers
z

0.2

In [41]:
type(z) #Float means "floating point" and is an approximation of a real number (not necessarily integer)

float

In [42]:
a = 10
b = 5
c = a/b # we can start off with integers
c

2.0

In [43]:
type(c) # and end up making a float. Even if that result is still -mathematically- an integer.

float

In [44]:
print(type(5.0))
print(type(5))
print(type("5"))
print(5.0, 5, "5") # we now have three ways of representing 5 using python.

<class 'float'>
<class 'int'>
<class 'str'>
5.0 5 5

In [45]:
a = 5.0
b = int(a) # we can convert from floats to ints
c = float(b) # and back again
print(a, type(a))
print(b, type(b))
print(c, type(c))

5.0 <class 'float'>
5 <class 'int'>
5.0 <class 'float'>

In [46]:
a = 5.3
b = int(a) # how does it convert floats that aren't 'integers' to ints?
c = float(b) # does it round to the nearest integer? How do we check?
print(a, type(a))
print(b, type(b))
print(c, type(c))

5.3 <class 'float'>
5 <class 'int'>
5.0 <class 'float'>

In [47]:
a = 5.8
b = int(a) # It does not round to the nearest integer
c = float(b) # It just removes all the values after the decimal.
print(a, type(a))
print(b, type(b))
print(c, type(c))

5.8 <class 'float'>
5 <class 'int'>
5.0 <class 'float'>

In [48]:
a = -5.8
b = int(a) # Does this mean it rounds down always?
c = float(b) # Not for negative numbers!
print(a, type(a))
print(b, type(b))
print(c, type(c))

-5.8 <class 'float'>
-5 <class 'int'>
-5.0 <class 'float'>

In [49]:
z = 2e-1 #You can also use scientific notation
z

0.2

In [50]:
0.5*3 # mathematics with floats works well for the most part

1.5

In [51]:
0.1*3 # but not always

0.30000000000000004

#### Other operations

In [52]:
2**10 #power

1024

In [53]:
a = 3
b = 2
a**b

9

In [54]:
a^b # ^ is not power! it is something else. (bitwise exclusive or)

1

In [55]:
(2+3)*4 # brackets and order of operations will work mostly how you expect

20

In [56]:
10 % 3 #modulo

1

In [57]:
10 % 2

0

In [58]:
10 % -3

-2

In [59]:
10 // 3 #whole division

3

In [60]:
a = False # booleans!
b = True # must have a capital first letter!

In [61]:
type(a)

bool

In [62]:
a and b # and operator. works the same way as in mathematics.

False

In [63]:
a or b # or operator

True

In [64]:
not b # not operator

False

In [65]:
a and not b # we can group these expressions like you would expect, and order of operations still works

False

In [66]:
not a and b

True

In [67]:
 3 > 2 # greater than operator, outputs a boolean

True

In [68]:
3 < 2 # less than operator, outputs a boolean

False

In [69]:
3 > 3 # this is STRICTLY greater than

False

In [70]:
3 >= 3 # greater than or equal to

True

In [71]:
1 + 2 == 3 # equal to (double equals)

True

In [72]:
1 + 2 = 3 # this is different to single equals, which is for assignment, not comparing.

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4026733151.py, line 1)

In [73]:
3.0 == 3 # it can compare floats and ints by their mathematical value

True

In [74]:
"3" == 3 # but not strings and floats or ints

False

In [75]:
0.1*3 == 0.3 # must be careful when comparing floats

False

In [76]:
True and 3 # we can use these operators with more than just booleans

3

In [77]:
bool(3) # We can convert something to a boolean.

True

In [78]:
bool(-3) # if 3 is True, what numbers are False?

True

In [79]:
bool(0) # zero is False

False

In [80]:
bool("3")

True

In [81]:
bool(0)

False

In [82]:
str(True)

'True'

In [83]:
int(True)

1

In [84]:
int(False)

0

In [85]:
float(True)

1.0

In [86]:
10 % -3 # modulo

-2

In [87]:
10 / -3 # normal division

-3.3333333333333335

In [88]:
10 // -3 # whole division

-4

In [89]:
-3*(10 // -3) + (10 % -3) # This is equal to 10

10

#### Task 1.3: Write a program that uses input functions to ask for two integers, and then displays True if the above relation is True, and False if it is not.

### Lists

In [90]:
my_friends = ["Sarat", "Benoit", "Masoud"] # a list!

In [91]:
my_friends

['Sarat', 'Benoit', 'Masoud']

In [92]:
type(my_friends)

list

In [93]:
len(my_friends)

3

In [94]:
my_friends[0] # start indexing at 0

'Sarat'

In [95]:
my_friends[1]

'Benoit'

In [96]:
my_friends[2]

'Masoud'

In [97]:
my_friends[-1] # negative index

'Masoud'

In [98]:
my_friends[3] # index must be within index range

IndexError: list index out of range

In [99]:
my_friends[1] = "Nicholas" # we can change the values in a list

In [100]:
my_friends

['Sarat', 'Nicholas', 'Masoud']

In [101]:
print("I am going to the park with my friend " + my_friends[1] + ".")

I am going to the park with my friend Nicholas.

In [102]:
my_stuff = [49, "Yoni", my_friends, 108.2, ["cat", "dog"]]

In [103]:
type(my_stuff)

list

In [104]:
print(my_stuff)

[49, 'Yoni', ['Sarat', 'Nicholas', 'Masoud'], 108.2, ['cat', 'dog']]

In [105]:
my_stuff[3]

108.2

In [106]:
my_stuff[4]

['cat', 'dog']

In [107]:
my_stuff[4][0] # double indexing

'cat'

In [108]:
grid = [[0,1,2],[3,4,5],[6,7,8]] # like a 2d list

In [109]:
grid[1][2] # The first number is the 'row' and the second is the 'column'

5

In [110]:
s = "abcdef"

In [111]:
s[2] # we can also use indexes with strings!

'c'

In [112]:
a = [3, 5]
b = [6, 7]
a+b # we can concatenate lists

[3, 5, 6, 7]

In [113]:
s*3 # we can multiply strings

'abcdefabcdefabcdef'

In [114]:
b*3 # we can multiply lists

[6, 7, 6, 7, 6, 7]

In [115]:
s*3.0 # but not by floats!

TypeError: can't multiply sequence by non-int of type 'float'

In [116]:
a*b # cannot multiply lists together

TypeError: can't multiply sequence by non-int of type 'list'

In [117]:
s[0] = "x" # we cannot change parts of a string, unlike lists

TypeError: 'str' object does not support item assignment

In [118]:
tup = (3,6,5) # tuples are another variable type, that is some sequence of things.

In [119]:
type(tup)

tuple

In [120]:
tup

(3, 6, 5)

In [121]:
tup[0] = 4 # also cannot change the values in a tuple

TypeError: 'tuple' object does not support item assignment

In [122]:
tup[2] + 10 # but can still access them

15

In [123]:
numbers = [0,1,2,3,4,5,6,7,8]
numbers + [9,10] # as mentioned, we can add lists together

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [124]:
[9,10] + numbers # the order does matter

[9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8]

In [125]:
numbers[4:8] # get only a portion of a list

[4, 5, 6, 7]

In [126]:
numbers[1:7:2] # get every second item from the first to the seventh

[1, 3, 5]

In [127]:
numbers[::2] # every second item

[0, 2, 4, 6, 8]

In [128]:
s = "abcdefg" # every second letter

In [129]:
s[::2]

'aceg'

In [130]:
new_list = [x for x in range(5)] #A list comprehension
new_list

[0, 1, 2, 3, 4]

In [131]:
len(new_list)

5

In [132]:
letters = [c for c in "Hello!"] # works with strings as well

In [133]:
letters

['H', 'e', 'l', 'l', 'o', '!']

In [134]:
squares = [x**2 for x in range(10)]

In [135]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [136]:
new_list = [x**2 for x in range(10**4)]

In [137]:
len(new_list)

10000

In [138]:
new_list = [x**2 for x in range(10**4)] # how big can we make a list before it starts taking too much time?

In [139]:
import time

t = time.time()
print(t) # seconds since jan 1st 12:00am, 1970.

1688369824.577442

In [140]:
import time # lets measure the time it takes to do this task

start = time.time()
new_list = [x**2 for x in range(10**6)]
end = time.time()

length = len(new_list)
time_taken = end - start
print("The list has a length of", length, "and it took", time_taken, "seconds.")

The list has a length of 1000000 and it took 0.2658498287200928 seconds.

In [141]:
# which operations take the longest?

#### Task 1.4 Something to do with lists!

In [142]:
from math import * #get mathematical functions

In [143]:
sqrt(2)

1.4142135623730951

In [144]:
sin(1.5*pi)

-1.0

In [145]:
e, pi

(2.718281828459045, 3.141592653589793)

#### Task 1.5: Write a program that gets a, b, and c, for the equation

$$
a x^2 + bx + c = 0
$$

and returns any real solutions using:
$$
x = \frac{-b \pm \sqrt{b^2 - 4ac}}{2a}
$$

You might notice that if $b^2 - 4ac < 0$ then there are no real solutions. What if we wanted to print something just in such a case.

In [146]:
disc = 12.3
if disc < 0: #A conditional statement!!!
    print("Negative!")

In [147]:
disc = -12.3
if disc < 0:
    print("Negative!")

Negative!

In [148]:
disc = 12.3
if disc < 0:
    print("Negative!")
else:
    print("Positive!")

Positive!

In [149]:
age = int(input())

6

In [150]:
if age < 10:
    print("Child")
elif age < 20:
    print("Teenager")
elif age < 30:
    print("In 20's")
else:
    print("Finally an adult!")

Child

#### Task 1.6: Now use conditional statements to perfect your quadratic equation solving function. Detect against single root, no real roots, not quadratic.

<center>
    <h1>
        END OF DAY 1
    </h1>
</center>